In [1]:
1+1

2

In [2]:
print("Hello")

Hello

In [3]:
## Basic Syntax Rules in Python
## Case sensitivity

name = "Afiya"
Name = "Zannuba"

print(name)
print(Name)

Afiya
Zannuba

In [7]:
##indentation

age = 10
if age>30:
    print(age)
else:
    print("false")

false

In [9]:
## Line continuation
x=3;y=5;z=x+y
print(z)

8

In [13]:
## Understand Semantics in Python
# variable assignment

age=32 ##we don't have to add integer type like other languages. kernel knows.
name="Krish" ##name will be a string

In [ ]:
type(age)

int

In [15]:
type(name)

str

In [18]:
##Type inference
age = 10
print(type(age))
age="ten"
print(type(age))

<class 'int'>
<class 'str'>

In [20]:
##indentation error

age=32
if age>32:
    print (age)

In [22]:
age=32
if age>30:
    print (age)

32

In [23]:
if True:
    print("correct indentation")
    if False:
        print("This won't print")
    print("This will print")
print("Outside the if block")

correct indentation
This will print
Outside the if block

In [ ]:
a=100

In [27]:
## declaring and assigning variables

age=32
height=6.1
name="Afiya"
is_student=True

## printing the variables

print("Age: ",age)
print("Height: ",height)
print("Name: ",name)
print(name, "is", is_student)

Age:  32
Height:  6.1
Name:  Afiya
Afiya is True

In [28]:
#valid variable names:

first_name="Krish"
last_name="Naik"

In [29]:
## Invalid variable names
2age = 30
first-name="Krish"
@name = "Krish"

SyntaxError: invalid decimal literal (3299511992.py, line 2)

In [31]:
##case sensitive

name="Krish"
Name="Naik"

name == Name

False

In [ ]:
## understanding variable types
age = 25 #int
height = 6.1 #float
name = "Krish" #string
is_student = True #boolean

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))